---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import { getPublishedOrUpdatedDate } from '@/modules/common';
import { getCategoryProps } from '@/modules/post/category';
import Link from '@/components/Link.astro';
import TagList from '@/components/TagList.astro';
import { DRAFT_TEXT } from '@/constants/data';
import { IMAGE_SIZES } from '@/constants/image';
import { ROUTES } from '@/constants/routes';
import { setTransitionSlug, TRANSITION_ELEMENT_IDS } from '@/constants/transitions';
import { formatDate, formatDateIso } from '@/utils/datetime';
import { cn } from '@/utils/styles';

import type { Post } from '@/types/post';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const { data, slug, readingTime } = post;

const {
  draft,
  publishDate,
  updatedDate,
  title,
  heroImage,
  heroAlt,
  noHero,
  category,
  tags = [],
  description,
} = data;

const { icon: categoryIcon } = getCategoryProps(category);
const { lastAccessDate, isUpdatedDate } = getPublishedOrUpdatedDate({
  publishDate,
  updatedDate,
});

const getTransitionNameFromElementId = setTransitionSlug({ pageSlug: slug });
---

<article
  class={cn(
    'flex w-full flex-col gap-5 lg:gap-6',
    'not-first:pt-5 not-last:pb-5 md:not-first:pt-6 md:not-last:pb-6',
    'not-last:border-b border-base-300'
  )}
>
  {
    !noHero && (
      <div class="w-full overflow-hidden rounded-box">
        <Image
          {...IMAGE_SIZES.RESPONSIVE.POST_CARD}
          src={heroImage}
          alt={heroAlt}
          itemprop="image"
          class="h-[188px] w-full object-cover rounded-box shadow shadow-base-300 md:h-[260px]"
          transition:name={getTransitionNameFromElementId({
            elementId: TRANSITION_ELEMENT_IDS.POST_CARD.HERO_IMAGE,
          })}
        />
      </div>
    )
  }

  <div class="flex min-w-0 flex-1 flex-col gap-4">
    <div
      class="flex flex-col gap-3 md:flex-row md:items-center md:justify-between"
      transition:name={getTransitionNameFromElementId({
        elementId: TRANSITION_ELEMENT_IDS.POST_CARD.META,
      })}
    >
      <Link
        href={`${ROUTES.CATEGORIES}${category}`}
        class="inline-flex w-fit items-center gap-2 rounded-button bg-primary-base-200 px-3 py-1 font-medium"
      >
        <Icon name={categoryIcon} class="h-4 w-4" />
        <span class="pb-0.5">{category}</span>
      </Link>

      <span class="inline-flex items-center gap-2 text-sm text-captions md:shrink-0">
        <Icon name={isUpdatedDate ? 'mdi:edit-outline' : 'mdi:access-time'} class="h-4 w-4" />
        <time itemprop="datePublished" datetime={formatDateIso(lastAccessDate)}>
          {formatDate(lastAccessDate)}
        </time>
      </span>
    </div>

    <div class="flex flex-col gap-3">
      <h2
        class="m-0 break-words text-2xl font-bold leading-tight md:text-[2.125rem]"
        transition:name={getTransitionNameFromElementId({
          elementId: TRANSITION_ELEMENT_IDS.POST_CARD.TITLE,
        })}
      >
        <Link href={`${ROUTES.BLOG}${slug}`} variant="heading">
          {title}
          {draft && <sup class="ml-1 text-sm text-red-500">{DRAFT_TEXT}</sup>}
        </Link>
      </h2>

      {
        description && (
          <p
            class="m-0 max-w-none text-base leading-8 text-base-content/80 md:line-clamp-2"
            transition:name={getTransitionNameFromElementId({
              elementId: TRANSITION_ELEMENT_IDS.POST_CARD.DESCRIPTION,
            })}
          >
            {description}
          </p>
        )
      }
    </div>

    <div class="mt-2 flex flex-col gap-4 border-t border-base-300/80 pt-4 sm:flex-row sm:items-end sm:justify-between">
      <div class="flex flex-col gap-3 text-sm text-captions sm:flex-1">
        <div class="flex flex-wrap items-center gap-x-5 gap-y-3">
          <span class="inline-flex items-center gap-2">
            <Icon name="mdi:book-open-blank-variant-outline" class="h-4 w-4" />
            <span class="text-nowrap">{`${Math.round(readingTime)} minutes`}</span>
          </span>
          <TagList tags={tags.slice(0, 3)} size="sm" variant="text" class="flex flex-wrap gap-y-2" />
        </div>
      </div>

      <Link
        href={`${ROUTES.BLOG}${slug}`}
        class="inline-flex items-center gap-2 self-start text-base font-medium sm:self-end"
      >
        <span class="text-nowrap">Read more</span>
        <Icon name="mdi:arrow-right" class="h-4 w-4" />
      </Link>
    </div>
  </div>
</article>